<%- include('./partials/header.ejs') -%> <%-
include('./partials/navbar-dashboard.ejs') -%> <%-
include('./partials/message.ejs') -%> <%- include('./partials/sidebar.ejs') -%>
<div id="main">
  <div class="container" id="login-box">
    <form class="row-cols-1" action="/customer/new" method="POST" class="row">
      <input
      dir="ltr"
      name="name"
      class="form-control col my-2"
      type="text"
      placeholder="نام مشتری را وارد نمایید"
      />
      <input
      dir="ltr"
      name="lastName"
      class="form-control col my-2"
      type="text"
      placeholder="نام خانوادگی مشتری را وارد نمایید"
      />
      <input
      dir="ltr"
      name="phoneNumber"
      class="form-control" "col my-2"
      type="number"
      onkeyup="javascript:validate(this)"
      placeholder="شماره موبایل وارد نمایید"
      />
      <button type="submit" id="submit" class="col btn btn-success sign-button">
        ثبت
      </button>
    </form>
  </div>
</div>
<%- include('./partials/footer.ejs') -%>
<script>
  let validate = (e) => {
      console.log("keyUp");
      let pattern = /[۱۲۳۴۵۶۷۸۹]|[^0-9]/g;
      let button = document.getElementById("submit");
      console.log(e.value);
      if (pattern.test(e.value)) {
          console.log("error");
          doError(e, button);
        } else {
            undoError(e, button);
          }
    };
    let doError = (e, button) => {
        e.classList.add("text-danger");
        button.classList.remove("btn-success");
        button.classList.add("btn-danger");
        button.disabled = true;
      };
    let undoError = (e, button) => {
        e.classList.remove("text-danger");
        button.disabled = false;
        button.classList.add("btn-success");
        button.classList.remove("btn-danger");
      };
</script>
