<%- include('./partials/header.ejs') -%> 
<%- include('./partials/navbar-dashboard.ejs') -%>
<%- include('./partials/message.ejs') -%> <%- include('./partials/sidebar.ejs') -%>
<div id="main" class="">
    <div class="showBox blueBox">
        <a class="showBox-Title"> کل پذیرش ها</a>
        <a href="/reception/list" class="showBox-Number"><%- totalReceptions -%></a>
    </div>
    <div class="showBox yellowBox">
        <a class="showBox-Title"> در حال انجام</a>
        <a href="/doing/list" class="showBox-Number"><%- doingCount -%></a>
    </div>
    <div class="showBox greenBox">
        <a class="showBox-Title">آماده </a>
        <a href="/succeded/list" class="showBox-Number"><%- succededCount -%></a>
    </div>
    <div class="showBox violetBox">
        <a class="showBox-Title"> کنسل شده</a>
        <a href="/canceled/list" class="showBox-Number"><%- canceledCount -%></a>
    </div>
    <div class="showBox blackBox">
        <a class="showBox-Title"> ناموفق</a>
        <a href="/rejected/list" class="showBox-Number"><%- rejectedCount -%></a>
    </div>
    <div class="showBox redBox">
        <a class="showBox-Title"> با تاخیر</a>
        <a href="/delayed/list" class="showBox-Number"><%- delayedCount -%></a>
    </div>
    <div class="showBox brownBox">
        <a class="showBox-Title">کل مشتری ها</a>
        <a href="/customer/list" class="showBox-Number"><%- customerCount -%></a>
    </div>
</div>
<%- include('./partials/footer.ejs') -%>
