<%- include("./partials/header.ejs") -%> <%-
include("./partials/navbar-dashboard.ejs") -%> <%- include('./partials/message.ejs') -%>
<%- include("./partials/sidebar.ejs") -%>
<style>
th{
    <!-- width:min-content; -->
    padding-left: 15px !important;
    padding-right: 25px !important;
    text-align: center !important;
}
button{
    width: 70px;
}
</style>
<div id="main" style="width: 100%; padding-right: 3%">
<div class="titleBox yellowBox">در حال انجام</div>
    <table
        id="receptionList"
        class="table table-striped table-bordered"
        style="width: 110%;table-layout: fixed;"

        >
        <thead>
            <tr>
                <th style="width: 100px;">نام مشتری</th>
                <th style="width: 100px !important;">نوع خودرو</th>
                <th style="width: 130px !important;">اظهارات مشتری</th>
                <th style="width: 90px  !important;">تاریخ ورود</th>
                <th style="width:50px!important ;">وضعیت</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            <% receptions.forEach((reception)=>{ %>
            <tr>
                <td><%= reception.customerLastname %> <%= reception.customerName %><br><%= reception.customerPhoneNumber %></td>
                <td><%= reception.vehicleName %></td>
                <td><%= reception.comments %></td>
                <td><%= reception.date%> <%= reception.time %></td>
                <td><%= reception.status %></td>
                <td>
                    <button id="editButton" class="btn btn-primary regular-btn">
                        <a href="/reception/edit/<%= reception.id %>">ویرایش</a>
                    </button>
                    <button id="deleteButton" class="btn btn-danger regular-btn">
                        <a href="#" data-toggle="modal" data-target="#myModal">حذف</a>
                    </button>
                    <!-- Trigger the modal with a button -->
                    <!-- <button
                        type="button"
                        class="btn btn-info btn-lg"
                        data-toggle="modal"
                        data-target="#myModal"
                        >
                        Open Modal
                        </button> -->

                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            &times;
                                        </button>
                                        <h4 class="modal-title"></h4>
                                    </div>
                                    <div class="modal-body">
                                        <p
                                        style="
                                        margin-right: 0 !important;
                                        margin-left: auto !important;
                                        padding-left: 60%;
                                        "
                                        >
                                        آیا از حذف مطمئن هستید؟
                                        </p>
                                    </div>
                                    <div class="modal-footer" style="padding-left: 70%">
                                        <form id="mainForm"
                                            action="/reception/remove/<%= reception.id %>"
                                            method="POST"
                                            style="display: inline-block"
                                            >
                                            <button
                                                onclick="doSubmit()" type="submit"
                                                class="btn btn-danger"
                                                data-dismiss="modal"
                                                >
                                                بله
                                            </button>
                                        </form>

                                        <button
                                            type="button"
                                            class="btn btn-primary"
                                            data-dismiss="modal"
                                            >
                                            نه
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button id="successButton" class="btn successButton regular-btn"><a href="/reception/success/<%= reception.id  %>">آماده</a></button>
                        <button id="cancelButton" class="btn cancelButton regular-btn"><a href="/reception/cancel/<%= reception.id %>"> کنسل</a></button>
                        <button id="rejectButton" class="btn rejectButton regular-btn"><a href="/reception/reject/<%= reception.id %>">ناموفق</a></button>
                        <button id="reportButton" class="btn reportButton regular-btn">گزارش</button>
                </td>
            </tr>
            <% }); %>
        </tbody>
        <!-- <tfoot> -->
        <!--     <tr> -->
        <!--         <th>نام مشتری</th> -->
        <!--         <th>نوع خودرو</th> -->
        <!--         <th>اظهارات مشتری</th> -->
        <!--         <th>تاریخ ورود</th> -->
        <!--         <th>وضعیت</th> -->
        <!--         <th>عملیات</th> -->
        <!--     </tr> -->
        <!-- </tfoot> -->
    </table>
</div>
<%- include("./partials/footer.ejs") -%>
<script>
    function doSubmit(){
            console.log("click")
            document.getElementById("mainForm").submit();
        };
        $(document).ready(() => {
                let searchEelement = document.getElementById("receptionList_filter");
                let searchLabel = (searchEelement.firstChild.firstChild.data = "جستجو: ");
                document.getElementById("receptionList_length").firstChild.firstChild.data =
                    " نمایش ";
                document.getElementById("receptionList_length").lastChild.lastChild.data =
                    " تایی  ";
                <!-- document.getElementById("vehicleType").style.width="500px"; -->
            });
</script>
