<%- include('./partials/header.ejs') -%> <%-
include('./partials/navbar-dashboard.ejs') -%> <%-
include('./partials/message.ejs') -%> <%- include('./partials/sidebar.ejs') -%>
<div id="main" class="">
    <div class="container" id="reception-box" style="top:0% !important">
        <form  id="mainForm" autocomplete="off" class="row" action="/reception/new" method="POST">
            <fieldset class="row">
                <legend>مشتری</legend>
                <input
                id="customer"
                list="customerList"
                name="customerPhoneNumber"
                class="form-control col my-2 mx-2"
                type="text"
                placeholder="شماره موبایل مشتری را وارد نمایید"
                onfocusout="validatePhoneNumber(this)"
                required
                />
                <datalist id="customerList"> </datalist>
                <!-- <span style="display: block;" href="">اضافه کردن مشتری</span> -->

                <!--     <!-1- Trigger the modal with a button -1->-->
                <!--     <!-1- <button-->
                <!--         type="button"-->
                <!--         class="btn btn-info btn-lg"-->
                <!--         data-toggle="modal"-->
                <!--         data-target="#myModal"-->
                <!--         >-->
                <!--         Open Modal-->
                <!--         </button> -1->-->

                <!--         <!-1- Modal -1->-->
                <!--         <div id="myModal" class="modal fade" role="dialog">-->
                <!--             <div class="modal-dialog">-->
                <!--                 <!-1- Modal content-1->-->
                <!--                 <div class="modal-content">-->
                <!--                     <div class="modal-header">-->
                <!--                         <button type="button" class="close" data-dismiss="modal">-->
                <!--                             &times;-->
                <!--                         </button>-->
                <!--                         <h4 class="modal-title"></h4>-->
                <!--                     </div>-->
                <!--                     <div class="modal-body">-->
                <!--                         <p-->
                <!--                         style="-->
                <!--                         margin-right: 0 !important;-->
                <!--                         margin-left: auto !important;-->
                <!--                         padding-left: 60%;-->
                <!--                         "-->
                <!--                         >-->
                <!--                         آیا از حذف مطمئن هستید؟-->
                <!--                         </p>-->
                <!--                     </div>-->
                <!--                     <div class="modal-footer" style="padding-left: 70%">-->
                <!--                         <form id="mainForm"-->
                <!--                             action="/reception/remove/<%=  %>"-->
                <!--                             method="POST"-->
                <!--                             style="display: inline-block"-->
                <!--                             >-->
                <!--                             <button-->
                <!--                                 onclick="doSubmit()" type="submit"-->
                <!--                                 class="btn btn-danger"-->
                <!--                                 data-dismiss="modal"-->
                <!--                                 >-->
                <!--                                 بله-->
                <!--                             </button>-->
                <!--                         </form>-->

                <!--                         <button-->
                <!--                             type="button"-->
                <!--                             class="btn btn-primary"-->
                <!--                             data-dismiss="modal"-->
                <!--                             >-->
                <!--                             نه-->
                <!--                         </button>-->
                <!--                     </div>-->
                <!--                 </div>-->
                <!--             </div>-->
                <!--         </div>-->
                <input
                name="comments"
                class="form-control col my-2 mx-2"
                type="text"
                placeholder="اظهارات مشتری را وارد نمایید"
                required
                />
            </fieldset>

            <fieldset class="row">
                <legend>خودرو</legend>
                <input
                name="vehicleName"
                class="form-control col my-2 mx-2"
                type="text"
                placeholder="نام خودرو را وارد نمایید"
                required
                />
                <input
                name="license"
                class="form-control col my-2 mx-2"
                type="text"
                placeholder="پلاک را وارد نمایید"
                required
                />
                <input
                name="VIN"
                class="form-control col my-2 mx-2"
                type="text"
                placeholder="شماره شاسی را وارد نمایید"
                required
                />
                <input
                name="mileage"
                class="form-control col my-2 mx-2"
                type="text"
                onkeyup="javascript:this.value=separate(this.value);javascript:validate(this)"
                placeholder="کیلومتر فعلی را وارد نمایید"
                lang="En"
                required
                />
                <input
                name="situation"
                class="form-control col my-2 mx-2"
                type="text"
                placeholder="وضعیت ظاهری را وارد نمایید"
                required
                />
                <input
                name="pricePrediction"
                class="form-control col my-2 mx-2"
                type="text"
                onkeyup="javascript:this.value=separate(this.value);javascript:validate(this)"
                placeholder="هزینه تقریبی را وارد نمایید"
                required
                />
                <input
                name="prePaid"
                class="form-control col my-2 mx-2"
                type="text"
                onkeyup="javascript:this.value=separate(this.value);javascript:validate(this)"
                placeholder="مبلغ بیعانه را وارد نمایید"
                required
                />
                <input
                name="things"
                class="form-control col my-2 mx-2"
                type="text"
                placeholder="لوازم همراه را وارد نمایید"
                required
                />
            </fieldset>
            <fieldset class="row">
                <legend>لوازم</legend>
                <div class="form-check form-check-inline">
                    <input
                    id="spare"
                    class="form-check-input"
                    type="checkbox"
                    name="spare"
                    />
                    <label for="spare" class="form-check-label">زاپاس</label>
                </div>

                <div class="form-check form-check-inline">
                    <input
                    id="jack"
                    class="form-check-input"
                    type="checkbox"
                    name="jack"
                    />
                    <label for="jack" class="form-check-label">جک</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="toolBox"
                    class="form-check-input"
                    type="checkbox"
                    name="toolBox"
                    />
                    <label for="toolBox" class="form-check-label">جعبه ابزار</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="light"
                    class="form-check-input"
                    type="checkbox"
                    name="light"
                    />
                    <label for="light" class="form-check-label">فندک</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="audioPlayer"
                    class="form-check-input"
                    type="checkbox"
                    name="audioPlayer"
                    />
                    <label for="audioPlayer" class="form-check-label"> پخش</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="sunroofTool"
                    class="form-check-input"
                    type="checkbox"
                    name="sunroofTool"
                    />
                    <label for="sunroofTool" class="form-check-label">آچار سانروف</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="manual"
                    class="form-check-input"
                    type="checkbox"
                    name="manual"
                    />
                    <label for="manual" class="form-check-label">دفترچه</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="sideMirror"
                    class="form-check-input"
                    type="checkbox"
                    name="sideMirror"
                    />
                    <label for="sideMirror" class="form-check-label">آینه بغل</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="footStool"
                    class="form-check-input"
                    type="checkbox"
                    name="footStool"
                    />
                    <label for="footStool" class="form-check-label">زیرپایی</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="spare"
                    class="form-check-input"
                    type="checkbox"
                    name="spare"
                    />
                    <label for="spare" class="form-check-label">متعلقات موبایل</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="dangerTriangle"
                    class="form-check-input"
                    type="checkbox"
                    name="dangerTriangle"
                    />
                    <label for="dangerTriangle" class="form-check-label">مثلث خطر</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="logo"
                    class="form-check-input"
                    type="checkbox"
                    name="logo"
                    />
                    <label for="logo" class="form-check-label">آرم جلو پنجره </label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="cable"
                    class="form-check-input"
                    type="checkbox"
                    name="cable"
                    />
                    <label for="cable" class="form-check-label">کابل USB</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="remote"
                    class="form-check-input"
                    type="checkbox"
                    name="remote"
                    />
                    <label for="remote" class="form-check-label">ریموت</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="hubcap"
                    class="form-check-input"
                    type="checkbox"
                    name="hubcap"
                    />
                    <label for="hubcap" class="form-check-label">قالپاق</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="sportRing"
                    class="form-check-input"
                    type="checkbox"
                    name="sportRing"
                    />
                    <label for="sportRing" class="form-check-label">رینگ اسپورت</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="traffic"
                    class="form-check-input"
                    type="checkbox"
                    name="traffic"
                    />
                    <label for="traffic" class="form-check-label">آرم طرح ترافیک</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="siren"
                    class="form-check-input"
                    type="checkbox"
                    name="siren"
                    />
                    <label for="siren" class="form-check-label">دزدگیر</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="ashTray"
                    class="form-check-input"
                    type="checkbox"
                    name="ashTray"
                    />
                    <label for="ashTray" class="form-check-label">زیرسیگاری</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                    id="fireExtinguisher"
                    class="form-check-input"
                    type="checkbox"
                    name="fireExtinguisher"
                    />
                    <label for="fireExtinguisher" class="form-check-label"
                        >کپسول آتش</label
                    >
                </div>
                        <div class="form-check form-check-inline">
                            <input
                            id="rearWiper"
                            class="form-check-input"
                            type="checkbox"
                            name="rearWiper"
                            />
                            <label for="rearWiper" class="form-check-label">برف پاکن عقب</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                            id="seatCover"
                            class="form-check-input"
                            type="checkbox"
                            name="seatCover"
                            />
                            <label for="seatCover" class="form-check-label">روکش صندلی</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                            id="wheelWrench"
                            class="form-check-input"
                            type="checkbox"
                            name="wheelWrench"
                            />
                            <label for="wheelWrench" class="form-check-label">آچار چرخ</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                            id="frontWiper"
                            class="form-check-input"
                            type="checkbox"
                            name="frontWiper"
                            />
                            <label for="frontWiper" class="form-check-label">برف پاکن جلو</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                            id="ringLock"
                            class="form-check-input"
                            type="checkbox"
                            name="ringLock"
                            />
                            <label for="ringLock" class="form-check-label">قفل رینگ</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                            id="antenna"
                            class="form-check-input"
                            type="checkbox"
                            name="antenna"
                            />
                            <label for="antenna" class="form-check-label">آنتن</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                            id="lace"
                            class="form-check-input"
                            type="checkbox"
                            name="lace"
                            />
                            <label for="lace" class="form-check-label">توری</label>
                        </div>
            </fieldset>

            <button type="submit" id="submitBtn" class="col btn btn-success sign-button">
                ثبت
            </button>
        </form>
    </div>
</div>
<%- include('./partials/footer.ejs') -%>

<script>
    $(document).ready(() => {
            <!-- $("#customer").keyup(() => { -->
                    <!-- console.log("keyup") -->
                    $.ajax({
                            data: $("#customer").val(),
                            type: "POST",
                            url: "http://localhost:5000/ajax",
                            success: (results, status, xhr) => {
                                    console.log("data")
                                    let duplicated = false;
                                    for (result of results) {
                                            let text = result["lastName"] + "-" + result["phoneNumber"];
                                            for (content of document.getElementById("customerList").children) {
                                                    if (text == content.innerHTML) {
                                                            duplicated = true;
                                                        }
                                                }
                                            if (!duplicated) {
                                                    let tag =
                                                        '<option value="' +
                                                        result["phoneNumber"] +
                                                        '">' +
                                                        result["lastName"] +
                                                        "-" +
                                                        result["phoneNumber"] +
                                                        "</option>";
                                                    $("#customerList").append(tag);
                                                }
                                        }
                                },
                        });
                <!-- }); -->
        });

        //seprator
        function separate(Number) {
                Number += "";
                Number = Number.replace(",", "");
                x = Number.split(".");
                y = x[0];
                z = x.length > 1 ? "." + x[1] : "";
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(y)) y = y.replace(rgx, "$1" + "," + "$2");
                return y + z;
            }

        //validation

        let button = document.getElementById("submitBtn");
        validate = (e) => {
                let regex = /[^0-9,]/g;
                let farsiRegex = /[۱۲۳۴۵۶۷۸۹]/g;
                if (farsiRegex.test(e.value)) {
                        doError(e, button);
                    } else {
                            undoError(e, button);
                        }
                if (regex.test(e.value)) {
                        doError(e, button);
                    } else {
                            undoError(e, button);
                        }
            };
        let doError = (e, button) => {
                e.classList.add("text-danger");
                button.disabled = true;
                button.classList.remove("btn-success");
                button.classList.add("btn-danger");
            };
        let undoError = (e, button) => {
                e.classList.remove("text-danger");
                button.disabled = false;
                button.classList.add("btn-success");
                button.classList.remove("btn-danger");
            };  
        document.onkeydown=function(e){
                if((event.keyCode||event.which)==115){
                        document.getElementById("mainForm").submit()

                    }
            }
        function validatePhoneNumber(e){
                let phoneNumber=e.value;    
                let phoneNumberValidator=/^([0123456789]{11})$/g
                if(!phoneNumberValidator.test(phoneNumber)){
                        doError(e, button);
                    } else {
                            undoError(e, button);
                        }
            }
</script>
